*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #1A1D29;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scrollerGrey), 1);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}